<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
   
</head>
<body>
    <form action="addworker" method="post">
        <input type="text" name="fname" placeholder="first name" /><br />
        <input type="text" name="sname" placeholder="surname" /><br />
        <input type="text" name="job" placeholder="job title" /><br />
        <input type="date" name="dob" placeholder="Date of Birth" /><br />
        <input type="number" name="salary" placeholder="salary" /><br />
        <input type="submit" value="add worker"/>
    </form>
        <button><a href="/">View all Workers</button><br>
</body>
</html>