<%- include("partials/header") -%>

  <div class="container" style="padding-top: 200px;">
      <div class="row">
          <div class="col text-center">
              Welcome to the book keeping app.
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="text-center">
            <a class="btn btn-primary mt-5" href="/books">
                View all
            </a>          
          </div>
      </div>
  </div>

<%- include("partials/footer") -%>